@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --white: #eeeeee;
  --black: #1e2022;
  --white-cell: #e1e6e1;
  --black-cell: #3f826d;
  --green: #3f826d;
}

* {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--white);
}

a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--green);
  text-decoration: underline;
}

a:active {
  color: var(--black);
}

.centerize {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.title {
  width: 400px;
  text-align: center;
  margin: 25px auto;
  border: 5px solid var(--black);
  border-radius: 20px;
  box-shadow: 5px 5px;
}

.controls {
  border: 5px solid var(--black);
  width: 200px;
  height: 500px;
}

.board {
  border: 5px solid var(--black);
  width: 400px;
  height: 500px;
}

.cell {
  position: relative;
  width: 100px;
  height: 100px;
}

.cell:hover {
  filter: brightness(80%);
}

.light {
  background-color: var(--white-cell);
}

.dark {
  background-color: var(--black-cell);
}

.chess-piece {
  background-size: cover;
  background-repeat: no-repeat;
}

.bishop-b {
  background-image: url("./images/pieces-svg/bishop-b.svg");
}

.knight-b {
  background-image: url("./images/pieces-svg/knight-b.svg");
}

.rook-b {
  background-image: url("./images/pieces-svg/rook-b.svg");
}

.queen-b {
  background-image: url("./images/pieces-svg/queen-b.svg");
}

.king-b {
  background-image: url("./images/pieces-svg/king-b.svg");
}

.pawn-b {
  background-image: url("./images/pieces-svg/pawn-b.svg");
}

.bishop-w {
  background-image: url("./images/pieces-svg/bishop-w.svg");
}

.knight-w {
  background-image: url("./images/pieces-svg/knight-w.svg");
}

.rook-w {
  background-image: url("./images/pieces-svg/rook-w.svg");
}

.queen-w {
  background-image: url("./images/pieces-svg/queen-w.svg");
}

.king-w {
  background-image: url("./images/pieces-svg/king-w.svg");
}

.pawn-w {
  background-image: url("./images/pieces-svg/pawn-w.svg");
}

.highlighted {
  border: 2px solid red; /* Adjust the border style as needed */
}

.legal-move-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92%;  /* Slightly larger */
    height: 92%; /* Slightly larger */
    background-color: rgba(70, 130, 180, 0.5);  /* Translucent blue color */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;  /* Allows click events to pass through to the underlying cell or piece */
}




.mode-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: var(--black);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-inner {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 14px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.toggle-switch {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 14px;
  position: absolute;
  top: 1px;
  right: 1px;
  transition: all 0.3s;
}

.in-check {
  background-color: pink; /* Update with your desired color */
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  left: calc(100% - (28px + 1px));
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: calc(100% - (28px + 1px));
}

#modeText {
  margin-top: 10px;
}


